@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Lato:400,900);
html {
  overflow-y: hidden; }

#new-menu {
  position: absolute;
  width: 100%;
  padding: 0 5%;
  z-index: 1;
  /* Bar */
  /* Menu */ }
  #new-menu h1 {
    margin-top: 20px;
    text-align: center;
    font-family: "Lato", Helvetica;
    font-size: 25px;
    font-weight: 300;
    color: #807F7D; }
    #new-menu h1 a {
      text-decoration: none;
      color: #888888;
      font-weight: 400; }
      #new-menu h1 a:hover {
        text-decoration: underline; }
  #new-menu .content {
    position: relative;
    top: 5px;
    width: 250px;
    margin: 0 auto; }
  #new-menu .mainBar {
    background-color: RGBA(75, 75, 74, 0);
    color: #FFFFFF;
    color: rgba(255, 255, 255, 0.8);
    width: 250px;
    height: 50px;
    font-family: "Lato", "FontAwesome", Helvetica;
    font-size: 35px;
    font-weight: 300; }
  #new-menu .liked, #new-menu .listen, #new-menu .cog {
    float: left;
    text-align: center;
    height: 50px;
    line-height: 50px; }
  #new-menu .liked {
    width: 94px; }
  #new-menu .listen {
    width: 99px; }
  #new-menu .cog {
    width: 55px; }
  #new-menu .liked:before {
    content: "\f00c";
    margin-right: 5px;
    font-size: 13px;
    position: relative;
    bottom: 1px;
    color: #FFFFFF; }
  #new-menu .listen:before {
    content: "\f0da";
    margin-right: 7px;
    font-size: 14px;
    color: #FFFFFF; }
  #new-menu .cog:after {
    content: "\f0d7";
    margin-left: 10px;
    font-size: 12px;
    color: #FFFFFF; }
  #new-menu .liked:hover, #new-menu .listen:hover, #new-menu .cog:hover {
    color: #E7E7E8;
    cursor: pointer; }
  #new-menu .menu {
    margin-top: 4px;
    background-color: #4DAF7C;
    color: #FFFFFF;
    color: rgba(255, 255, 255, 0.8);
    width: 250px;
    height: 152px;
    font-family: "Lato", "FontAwesome", Helvetica;
    font-size: 15px;
    font-weight: 300; }
    #new-menu .menu a {
      display: block;
      padding: 0 0 0 30px;
      line-height: 38px;
      color: #FFFFFF;
      color: rgba(255, 255, 255, 0.8);
      text-decoration: none; }
      #new-menu .menu a:after {
        opacity: 0;
        content: "\f0da";
        position: absolute;
        right: 0;
        margin-right: 10px;
        font-size: 14px; }
      #new-menu .menu a:hover:after {
        opacity: 1; }
      #new-menu .menu a:hover {
        background: #7EC29C;
        color: #FFFFFF;
        cursor: pointer; }

.header {
  font-family: Roboto, sans-serif;
  height: 300px;
  width: 100%;
  background: url("../img/bg.png") no-repeat;
  margin-bottom: 18px; }

#logo {
  color: #FFFFFF;
  background-color: transparent;
  font-size: 2em; }

.navbar {
  background-color: rgba(248, 248, 248, 0);
  border-radius: 0;
  border-color: rgba(248, 248, 248, 0); }

.navbar-default .navbar-toggle {
  border: none; }

.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff; }

.navbar-brand {
  padding: 13px 15px; }

.navbar-brand > img {
  width: 50px; }

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: #e7e7e7;
  background-color: #ffffff; }

.header-title {
  position: relative;
  top: 20%; }

.header-name {
  color: #ffffff; }
  .header-name h1 {
    font-size: 2.5em;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    margin-bottom: 0; }
  .header-name h2 {
    font-size: 1.5em;
    margin-top: 0; }

section {
  font-family: 'Lato', sans-serif; }

.section-zallium img {
  padding: 10px;
  width: 350px; }
.section-zallium .section-about {
  background-color: #ffffff;
  margin-bottom: 18px; }
  .section-zallium .section-about p:first-child {
    font-size: 1.5em; }
    .section-zallium .section-about p:first-child b {
      color: #5CB85C; }
  .section-zallium .section-about .about-button {
    color: #ffffff;
    font-weight: bold;
    background-color: #5CB85C;
    position: relative; }

.section-works {
  background-color: #EEEEEE; }
  .section-works h2 {
    margin-bottom: 18px; }
  .section-works .jobs-box {
    background-color: #3F51B5;
    width: 100px;
    height: 100px;
    margin: auto;
    margin-bottom: 8px; }
    .section-works .jobs-box p {
      color: #ffffff;
      background-color: #3F51B5;
      top: 50%;
      transform: translateY(-50%);
      position: relative; }

.section-experience {
  font-family: Lato, sans-serif;
  height: 100%;
  width: 100%;
  background: url("../img/bg2.png") repeat-y; }
  .section-experience h2 {
    color: #ffffff;
    font-weight: bold;
    text-align: center; }
  .section-experience .experience-work {
    color: #ffffff;
    height: 550px;
    background-color: rgba(255, 255, 255, 0.4);
    left: 50%;
    transform: translateX(-50%);
    margin-top: 18px; }
    .section-experience .experience-work h4 {
      font: 22px Roboto,sans-serif;
      margin-bottom: 16px; }
    .section-experience .experience-work .experience-title {
      font: lighter 16px Roboto, sans-serif; }
    .section-experience .experience-work .experience-description {
      font: 13px Lato, sans-serif;
      margin-bottom: 16px; }

.section-extra {
  background-color: #E0E0E0;
  color: #596A7C;
  text-align: center; }
  .section-extra h2 {
    padding: 16px 0; }
  .section-extra p {
    margin: 0; }

footer {
  background-color: #222222;
  width: 100%;
  text-align: center;
  padding: 18px 0 8px 0; }
  footer .social i {
    font-size: 25px;
    padding: 0 5px;
    margin: 0 auto; }

/* Layout para desktops: 769 px at├® o m├íximo de 1232 px. Herda estilos de: Layout para celulares e Layout para tablets. */
@media only screen and (min-width: 769px) {
  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
    background-color: transparent; }

  .navbar-default .navbar-nav > li > a {
    color: #ffffff; }

  .navbar-default .navbar-nav > li > a:hover {
    color: #5CB85C; }

  .header {
    height: 400px;
    margin-bottom: 36px;
    border-bottom: solid #5CB85C 5px; }
    .header .header-name h1 {
      font-size: 3.5em;
      width: 40%;
      height: 20%;
      margin: 0 auto 30px; }
    .header .header-name h2 {
      font-size: 2.5em; }

  .section-zallium {
    margin-bottom: 36px; }
    .section-zallium .about-button {
      height: 30px; }
      .section-zallium .about-button .button-content {
        position: absolute;
        transition: top 0.5s; }
      .section-zallium .about-button .top-button {
        top: 5px; }
      .section-zallium .about-button:hover {
        background-color: #55A755; }
      .section-zallium .about-button:hover .top-button {
        top: -20px;
        opacity: 0;
        visibility: hidden; }
      .section-zallium .about-button .bottom-button {
        top: 50px;
        opacity: 0;
        visibility: hidden; }
      .section-zallium .about-button:hover .bottom-button {
        color: #ffffff;
        top: 5px;
        opacity: 100;
        visibility: visible; }

  .working-process {
    height: 180px;
    margin-bottom: 18px; }

  .section-experience {
    background: url("../img/bg.png") no-repeat; }
    .section-experience hr {
      width: 80%;
      border-top: 2px solid rgba(238, 238, 238, 0.4); }
    .section-experience h2 {
      color: #ffffff;
      font-weight: bold;
      text-align: center; }
    .section-experience .experience-work {
      left: 0%;
      padding-left: 5px;
      transform: translateX(0%);
      height: 500px;
      margin-bottom: 36px; }
      .section-experience .experience-work h4, .section-experience .experience-work p {
        text-align: center; }

  footer .social a {
    color: #333; }
    footer .social a i {
      padding: 0 10px; }
      footer .social a i:hover {
        color: #F44336; } }

/*# sourceMappingURL=estilo.css.map */
