$white : #ffffff;
$text  : #85909a;

$button-color : #efefef;
$border       : #e0e6e8;

$quero-azul    : #18ACC4;
$quero-laranja : #FC9F00;
$quero-hover   : #edf8ff;
$quero-icons   : #b7bfc6;
$quero-input   : #d5dce0;  
$quero-bg      : #f6f8f9;
