@mixin border-radius($radius) {
    background-clip: padding-box;
    -webkit-border-radius: $radius;
    border-radius: $radius;
}

@mixin linearGradient($degree, $color1, $color2) {
    background: $color1;
    background: -webkit-linear-gradient($degree, $color1, $color2);
    background: -o-linear-gradient($degree, $color1, $color2);
    background: -moz-linear-gradient($degree, $color1, $color2);
    background: linear-gradient($degree, $color1, $color2);
}

@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

@mixin box-shadow($shadow...) {
   -webkit-box-shadow: $shadow;
   box-shadow: $shadow;
}