.card {
    @include border-radius(2px 2px 0 0);
    @include box-shadow(0px 0px 10px 0px rgba(0, 0, 0, 0.3));
    background-color: #FFF;
    border: 1px solid #ebebeb;
    margin: auto;
    min-height: calc(100vh - 120px);
  
    .card-title {
        font-size: 22px;
        font-weight: normal;
        padding: 10px 0 10px;
    }
}

.full-card {
    max-width: 70%;
  
    &.is-open {
        float: left;
        margin: 0;
        width: 55%;
    }
  
    .actions {
        @include box-shadow(0px 0px 2px 0px rgba(0, 0, 0, 0.3));
    }
}

.task-card {
    display: none;
    float: right;
    width: 43%;
    position: relative;
  
    .actions {
        border-bottom: solid 1px $border;
      
        .avatar {
            margin: 0;
        }
      
        .user-name {
            margin: 0 5px;
        }
      
        .icon {
            color: $quero-icons;
        }
    }
  
    .user {
        display: inline;
        margin-left: 15px;

        .icon-circle {
            color: $quero-icons;
            font-size: 10px;
        } 
    }
  
    .button-options {
        display: inline;
        margin: 5px 15px 0;
        vertical-align: middle;
      
        .btn {
            border-color: $quero-icons;
            border-radius: 50%;
            color : $quero-icons;
            height: 30px;
            margin-left: 5px;
            padding: 7px;
            vertical-align: middle;
            width: 30px;
          
            &:hover {
                .icon {
                    color: #fff;
                }
            }
        }
      
        .btn-calendar {
            border: dashed 2px $quero-icons;
            padding: 6px 7px;
        }
      
        .calendar-span {
            margin: 0 5px;
        }      
    }
  
    .form-activity {
        margin: 60px 20px;
      
        .icon-check {
            cursor: pointer;
            color: $quero-icons;
            font-size: 30px;
            margin: 4px 10px;
            position: absolute;
            z-index: 2;
        }
      
        .activity-title {
            font-size: 1.5em;
            font-weight: bold;
            height: 40px;
            padding: 0 50px;
            width: 100%;
        }
      
        .activity-description {
            margin: 10px 35px;
            padding: 10px 20px;
            resize: none;
            width: 90%;
        }
    }
    .comment {
        background-color: $quero-bg;
        bottom: 0;
        border-top: 1px solid $border;
        padding: 10px;
        position: absolute;
        width: 100%;
      
        .avatar {
            margin: 0 10px 0 20px;
        }

        .comment-input {
            border: 1px solid $border;
            padding: 10px 5px;
            resize: none;
            width: 85%;
        }
    }
}

.activity-title,
.activity-description,
.comment-input {
    @include border-radius(2px);
    @include transition(all .5s ease);
    border: 1px solid transparent;
    color: #000;
    &::placeholder {
        color: $text;
    }
    &:hover {
        @include transition(all .5s ease);
        border: 1px solid $quero-input;
        outline: none;
    }
    &:focus {
        box-shadow: 0px 0px 5px 0px $quero-azul;
        outline: none;
    }
}

.actions {
    height: 70px;
    padding: 15px;
  
    .btn-task {
        margin-left: 15px;
    }
  
    .icon-conf {
        color: $quero-icons;
        float: right;
        margin-top: 10px;
    }
}

.activities {
    .activity {
        height: 56px;
        padding: 5px 30px;
        .activity-body {
            border-bottom: 1px solid $border;
            padding: 10px 0;
            .icon {
                color: $border;
                font-size: 30px;
            }
            .icon-circle, .icon-right {
                color: $border;
                display: none;
                font-size: 15px;
                margin-top: 5px;
            }
            .activity-text {
                color: #000;
                margin-left: 10px;
            }
        }
        &:hover {
            background-color: $quero-hover;
            .icon-circle {
                display: initial;
            }
        }
        &:active {
            .icon-right{
                display: initial;
            }
        }
    }
}
