.header {
  @include box-shadow(1px 2px 1px 0px rgba(0, 0, 0, 0.3));
  background-color: $white;
  color: $text;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.navbar {
  align-items: center;
  border-bottom: 1px solid $border;
  display: flex;
  
  .navbar-menu {
    background-color: $white;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
  }
  
  .menu-icon {
    fill: $text;
    border-right: 1px solid $border;
    &:hover {
      background-color: $button-color;
    }
  }
  
  .menu-item {
    float: left;
    
    .item {
      display: block;
      color: #5f5f5f;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
    }
  }

  .plus-circle {
    @include border-radius(20px);
    @include linearGradient(35deg, #ff4343, #ffff4b);
    color: #fff;
    display: block;
    fill: white;
    font-weight: bold;;
    height: 30px;
    margin: 4px;
    padding: 7px;
    text-decoration: none;
    width: 30px;
  }

  .header-field {
    margin: auto;
    max-width: 500px;
    width: 100%;

    .icon-find{
      cursor: pointer;
      fill: $border;
      margin: 7px 10px;
      position: absolute;
      z-index: 2;
    }

    .header-search{
      @include border-radius(20px);
      @include transition(all .5s ease);
      border: 1px solid $border; 
      font-weight: bold;
      height: 30px;
      padding: 0 40px;
      width: 100%;


      &:focus {
        @include transition(all .5s ease);
        box-shadow: 0px 0px 5px 0px $quero-azul;
        outline:none;
      }
    }
  }


}

.header-submenu {
  

  .submenu-title {
    color : #000;
    text-align: center;

    .icon-down {
      cursor : pointer;
    }
  }

  .avatar {
    margin: 0;
  }

  .collapse-button {
    .icon { 
      cursor: pointer;
      font-size: 12px;
      margin: 0 0 0px 50px;
    }
  }

}

