//Em geral, são as variáveis globais que vão definir cores, 
//espaçamentos e outras configurações desejadas para o funcionamento do seu framework em si. 

$font: 'Montserrat', sans-serif;

$light-green : #009688;
$subtitle : #3eaaa0;
// $text-color : #cacaca;
// $title-color : #cacaca;

$text-color : #424242;
$title-color : #424242;