.nav {
    align-items: center;
    background-color: #f3f3f3;
    border-bottom: 1px solid #d4d4d4;
    display: flex;
    justify-content: center;
    height: 45px;
    max-width: 100vw;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;

    @media screen and (min-width: 768px) {
        background-color : #757575;
        height: 60px;
        padding: 10px;
        position: absolute;
        width: 70px;
    }

    &::after {
        clear: both;
    }
    .home {
        color : $light-green;
        display: none;
        float: left;
        @media screen and (min-width: 768px) {
            display: initial;
        }
    }
    .page-title {
        color : $light-green;
        @media screen and (min-width: 768px) {
            display: none;
        }
        
    }
}

.menu-link {
    align-items: center;
    background-color: #f3f3f3;
    border-top: 1px solid #d4d4d4;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    position: fixed;
    transition-duration: 1s;
    transition-property: left;
    bottom: 0px;
    width: 100%;
    will-change: transform;
    z-index: 3;

    @media screen and (min-width: 768px){
        animation-name: none;
        border-right: 1px solid #d4d4d4;
        display: block!important;
        height: calc(100vh - 60px);
        left: 0;
        padding: 50px 0px;
        position: absolute;
        width: 70px;
    }

    li {
        color: #757575;
        display: flex;
        flex-flow: column wrap;
        text-align: center;

        @media screen and (min-width: 768px){
            cursor: pointer;
            font-size: 1.7em;
            margin: 10px 0;
            padding: 15px 0;
            transition: all .3s ease-out;
            &:hover {
                color: $light-green;
                transition: all .3s ease-out;
            }
        }

        .icon {
            height: 20px;
            margin: auto;
            width: 20px;
            @media screen and (min-width: 768px){
                height: 30px;
                margin: auto;
                width: 30px;
            }
        }

        .active {
            color: $light-green;
            fill:  $light-green;
        }

        .legend-menu {
            font-size: 11px;
            &.active {
                color: $light-green;
            }
        }
    }
    &.active {
        display: flex;
        animation-duration: 1s;
        animation-name: open-menu;
        left: 0;
    }
    &.closed {
        display: flex;
        animation-duration: 1s;
        animation-name: close-menu;
        left: 100%;
    }
}
@media screen and (min-width: 768px) {

    .nav {
        .home {
            color: #fff;
            float: left;
            padding: 15px;
        }
        .menu {
            display: none;
        }
    }
}