$font:  Tahoma, Geneva, Arial;
$color: #20D0C3;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    min-height: 100%;
}

body {
    background-color: #FAFAFA;
    color: #565656;
    font-family: $font;
    min-width: 320px;
}

main {
    background: url('../img/bg-application.jpg') no-repeat;
    background-size: cover;
    min-height: calc(100vh - 100px);
    padding: 120px 30px 0;
    position: relative;
}

a {
    text-decoration: none;
}

.icon {
  height: 1em;
  width: 1em;
}

.avatar {
  @include border-radius(50%);
  border: 1px solid $border;
  margin: 2px 20px 0 0;
  vertical-align: middle;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}
