
/* Skills bar */
.wrapper{
    margin:0 auto;
}
.skill {
    margin-bottom: 8px;
    position: relative;
    overflow-x:hidden;
        
}
.skill > p {
    font-size: 1em;
    color: #424242;
    margin: 0;
}
.skill:before{
    width: 100%;
    height: 8px;
    content: "";
    display: block;
    position: absolute;
    background: #959595;
    bottom: 0;
}
.skill-bar {
    height: 8px;
    width: 100%;
    background: #2c3e50;
    display: block;
    position: relative;
}

.skill-bar span{
    position: absolute;
    border-top: 5px solid #2c3e50;
    top: -30px;
    padding: 0;
    font-size: 18px;
    padding: 3px 0;
    font-weight: 500;
}

/* Contact Info */

.contact-info {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin: 16px 0;
}

.contact-info .icon {
    fill: #2c3d50;
    height: 24px;
    vertical-align: middle;
    width: 24px;

}

.contact-info span {
    margin-left: 18px;
}