.section {
    padding: 24px 24px 0;
}

.section-header {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
}

.section-header .icon {
    background-color: #2c3d50;
    border-radius: 50%;
    fill: #fff;
    margin: 0 0 0 24px;
    padding: 6px;
}

.section-title {
    margin: 0 0 0 8px ;
}

.section-body {
    margin: 0;
    padding: 16px 60px;
}

.section-body p {
    margin: 0;
}


/* Skills bar */
.wrapper{
    margin:0 auto;
}
.skill {
    margin-bottom: 35px;
    position: relative;
    overflow-x:hidden;
        
}
.skill > p {
    font-size: 18px;
    font-weight: 700;
    color: #424242;
    margin: 0;
}
.skill:before{
    width: 100%;
    height: 8px;
    content: "";
    display: block;
    position: absolute;
    background: #959595;
    bottom: 0;
}
.skill-bar {
    height: 8px;
    width: 100%;
    background: #2c3e50;
    display: block;
    position: relative;
}

.skill-bar span{
    position: absolute;
    border-top: 5px solid #2c3e50;
    top: -30px;
    padding: 0;
    font-size: 18px;
    padding: 3px 0;
    font-weight: 500;
}

.skill1 .skill-count1 {
    right: 0;
}
/* SKILL 2 */
.skill2{
    width: 85%;
}

.skill2 .skill-count2 {
    right: 0;
}
/* SKILL 3 */
.skill3{
    width: 75%;
}
.skill3 .skill-count3 {
    right: 0;
}

/* SKILL 4 */
.skill4{
    width: 65%
}

.skill4 .skill-count4 {
    right: 0;
}

/* SKILL 5 */
.skill5{
    width: 80%;
}

.skill5 .skill-count5 {
    right: 0;
}

/* SKILL 6 */
.skill6{
    width: 90%
}

.skill6 .skill-count6 {
    right: 0;
}